# speech to text and text to speech
realtimestt==0.3.104
realtimetts[kokoro,coqui,orpheus, zh]==0.5.5

# webserver dependencies
fastapi
uvicorn

# configuration
python-dotenv

# llm providers
ollama
openai

# deepspeed
deepspeed==0.16.1

# ngrok proxy
ngrok>=1.0.0
python-dotenv
twilio>=9.3.2
python-multipart

transformers==4.47.0
ctranslate2<4.5.0
jieba
